.testForm {
  position: relative;
  width: 800px;
  height: 240px;
}
.testInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  
  margin: 0;
  border: 1px solid #6666FF;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 2px 2px 2px #DEDEFF;
  -moz-box-shadow: inset 2px 2px 2px #DEDEFF;
  -webkit-box-shadow: inset 2px 2px 2px #DEDEFF;
  padding: 3px;
  
  font-family: Tahoma, sans-serif;
  font-size: 11pt;
}
.testForm input {
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
}

.testInput .word {
  display: inline-block;
  color: #6666FF;
  background-color: #DEDEFF;
  padding: 0 2px;
}

.testInput.rigid_editor .word {
  padding: 0;
}

.testInput .nonword {
  color: #666666;
}
